# Server Configuration
PORT=8080

# NeonDB PostgreSQL Connection URL
# Format: postgres://<user>:<password>@<neon_endpoint_hostname>/<dbname>?sslmode=require
DATABASE_URL=postgres://neondb_owner:npg_sample_password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
